.chat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    height: 4rem;
    border-bottom: 1px solid #fafafa;
}

a {
    text-decoration: none;
    color: inherit;
}

.chat__details {
    flex: 1;
    
}

.chat__details > p {
    color: gray;
}

.chat__timestamp {
    color: lightgray;
}

.chat__image {
    margin-right: 1.25rem;
}